name: Gitleaks Secret Scan
on:
  push:
    branches: [ devsecops-learning ]
  pull_request:
jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: --verbose --redact --exit-code 1